# Файлы данных и байткода
*.pyc
*.csv
*.xlc
*.xlsx
*.slxc

# Каталоги проектов Spyder
**/.spyproject

# Каталоги кэша и байткода
**/__pycache__
**/slprj

# Бэкапы и дистрибутивы
**/*.build
**/*.dist

# Проверочные .csv
/test_working_dir
